#submitbutton{
    margin-top: 25px;
}

div label{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

#deck .col-8{
    display: flex;
    flex-direction: column;
}